@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: Fa Solid;
    font-weight: 400;
    src: url(/fonts/fa-solid-900.woff2) format("woff");
  }
  @font-face {
    font-family: Fa Solid;
    font-weight: 500;
    src: url(/fonts/fa-solid-900.woff2) format("woff");
  }
}
